.font1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.font2 {
	font-size: 12px;
	color: #357;
}
h1 {
	font: 22px Trebuchet, "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000;
}
h2 {
	font: bold 16px Trebuchet, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #357;
	padding: 0;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}
h2 a:link, h2 a:visited {
	text-decoration: none;
}
h3 {
	font: 13px Trebuchet, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#357;
	padding: 0 0 2px 0;
	margin: 1.2em 0 -.2em 0;
	border-bottom: 1px solid #cd9;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
blockquote {
	color: #777;
	padding-left: 23px;
}
blockquote.cather {
	margin: 0;
	padding: .8em 0 0;
	border-top: 1px solid #cd9;
	border-bottom: 1px solid #cd9;
	font: normal normal 17px Trebuchet, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #883;
	text-align: center;
	line-height: 32px;
}
blockquote.cather span.qm {
	color: #ddc;
	font-size: 60px;
	line-height: inherit;
	vertical-align: middle;
}
blockquote.cather em {
	color: #357;
	font-size: 24px;
	font-style: normal;
	line-height: inherit;
}
blockquote.cather span.author {
	color: #357;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: inherit;
}
.font3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.font4 {
	font-weight: bold;
}
