---
title: About us -- Pandya Family Foundation
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About</h3>
  </div>
  <div class="panel-body">
    <p> The Pandya Family Foundation, Inc. is a non-profit organization that was
    inspired by the recognition of the need for awareness regarding breast cancer
    after the late diagnosis, late treatment, and death of Jasumati Pandya, mother
    of one of the founders, Ela Pandya.  </p>

    <p> The crystallizing event for the creation of the foundation occurred in
    December 2004, when members of a women's social group gathered to provide
    information about the significance of early detection of breast cancer. The
    event was well received.  </p>

    <p> Pandya Family Foundation feels that spreading the knowledge that early
    detection of breast cancer can save lives is of the utmost urgency.  </p>
  </div>
</div>
