---
title: Pandya Family Foundation
---

<h3>Welcome</h3>
<p> Pandya Family Foundation, Inc. is a non-profit organization that was
inspired by the recognition of the need for awareness regarding breast cancer
after the late diagnosis, treatment, and death of Jasumati Pandya, mother of
one of the founders, Ela Pandya, in Ahmedabad, India.  The crystallizing event
for the creation of the foundation occurred in December 2004, when members of
a women's social group was gathered to provide information about the
significance of early detection of breast cancer. The event was very well
received.  </p>

<p> PFF feels that the spread of the knowledge that early detection can save
lives is of paramount urgency.  </p>

<h3>At PFF Every Life Counts</h3>
<p> The Pandya Family Foundation is a US based non-profit organization with the
mission to promote health awareness, education, and access to healthcare in the
U.S. and abroad. This includes educating the public about disease prevention,
as well as supporting individuals who wish to peruse health related careers. It
started its activities in 2004, and was recognized by IRS in September 2007.
</p>
