---
title: Partners -- Pandya Family Foundation
---

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Partners</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li style="padding: 5px"><a href="https://www.medicalreservecorps.gov/MrcUnits/UnitDetails/2448">Medical Reserve Corps</a></li>
      <li style="padding: 5px"><a href="http://www.walkwithadoc.org/">Walk With A Doc</a></li>
      <li style="padding: 5px"><a href="http://www.truguj.org/">TRU</a></li>
      <li style="padding: 5px"><a href="http://shamlajihospital.org/">Shamlaji Hospital</a></li>
      <li style="padding: 5px"><a href="http://wanderingdoc.wordpress.com/category/global-health-india-2009/">The Wandering Doc</a></li>
    </ul>
  </div>
</div>
